<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset ="UTF-8">
    <title>Fuel 4 Thought</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/fuel.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Dosis:700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/assets/css/css.css" type="text/css" />

</head>
<body>
    {{{ body }}}
</body>


</html>